body{
    background:white; 
 
    margin: auto;
}
h1{
background: #AC1774 ;
color: white;
text-align: center;
padding: 10px;


}
p{
    background: #DE92C2;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    border: 4px #7E0451 solid;
}
img{
   width: 200px; 
  float: left;
  margin-right: 10px;
}