body{
    background:white; 
    width: 800px;
    margin: auto;
}
h1{
background: #AC1774 ;
color: white;
text-align: center;
padding: 10px;


}
p{
    background: #DE92C2;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    border: 4px #7E0451 solid;
}